.img-preview{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 3px dashed grey;
}
.centered {
    position: absolute;
    color: grey;
    top: 80%;
    left: 17%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }